{% extends 'base.html' %}

{% block content %}
<div class="content-container">
    <!-- Header -->
    <div class="row m-2 g-0">
        <div class="col text-center">
            <h1 class="fs-2">Your Basket: £{{ total }}</h1>
        </div>
    </div>

    <div class="row g-0 justify-content-center">
        <div class="col-11 col-lg-8">
            <!-- Basket Items -->
            {% if basket_items %}
            <table class="table table-striped rounded align-middle">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Order Details</th>
                        <th scope="col"></th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price p/Item</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in basket_items %}
                    <tr>
                        <!-- Order Details -->
                        <td>
                            <img class="img-fluid basket-img" src="{{ item.product.image.url }}" alt="product image">
                        </td>
                        <td class="">
                            {{ item.product.name }}
                        </td>

                        <td class="text-center">
                            <!-- Update Quantity -->
                            <form action="" method="POST" class="form text-center d-inline">
                                {% csrf_token %}
                                <input name="quantity" type="number" class="form-control" value="{{ item.quantity }}"
                                    min="1" max="99">
                                <button type="button" class="btn btn-sm btn-outline-success mt-2">Update</button>
                            </form>

                            <!-- Modal Trigger -->
                            <button type="button" class="btn btn-sm btn-outline-danger mt-2" data-bs-toggle="modal"
                                data-bs-target="#modal-remove">Remove</button>

                            <!-- Modal -->
                            <div class="modal fade" id="modal-remove" tabindex="-1" aria-labelledby="label-remove"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="label-remove">Remove Item</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to remove this item from your basket?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-dark"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <form action="{% url 'remove_from_basket' item.product.id %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-outline-danger">Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <!-- Price -->
                        <td class="text-center">
                            £{{ item.product.price }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row mb-3">
                <div class="col text-end">
                    <a href="{% url 'products' %}" class="btn btn-outline-dark">Keep Shopping</a>
                    <a href="#" class="btn bg-red btn-outline-dark border-0 text-white">Checkout</a>
                </div>
            </div>

            <!-- Empty Basket Alert -->
            {% else %}
            <div class="alert alert-dark mt-2" role="alert">
                <span class="fs-5">Your basket is empty.</span>
                <div class="justify-content-end d-flex mt-2">
                    <a href="{% url 'products' %}" class="btn bg-red btn-outline-dark border-0 text-white d-block">Keep
                        Shopping</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}