{% extends 'base.html' %}

{% block content %}
<div class="content-container">
    <div class="row g-0 justify-content-center mt-2">
        <div class="col-10 col-md-8 col-lg-6 text-center">
            <h1>Any Queries?</h1>
            <h2 class="fs-3">Leave them below and we'll review your message.</h2>
        </div>
    </div>

    <div class="row g-0 justify-content-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- form goes here -->
        </div>
    </div>
</div>
{% endblock content %}