{% extends 'base.html' %}

{% block content %}
<div class="content-container">
    <div class="row g-0 justify-content-center mt-2">
        <div class="col-10 col-md-8 col-lg-6 text-center">
            <h1>Any Queries?</h1>
            <h2 class="fs-3">Leave them below and we'll review your message.</h2>
        </div>
    </div>

    <div class="row g-0 justify-content-center mt-2">
        <div class="col-10 col-md-8 col-lg-6">
            <form action="" method="POST">
                {{ form.as_p }}
                <div class="text-center">
                    <button class="btn bg-red btn-outline-dark border-0 text-white" type="submit">Submit Query</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}