{% extends 'base.html' %}

{% block content %}
<div class="content-container">
    <div class="row g-0">
        <div class="col ms-2 mt-2 text-center">
            <span class="fs-5">Displaying {{ products | length }} results{% if search_term %} for
                <strong>"{{search_term}}"</strong>
                {% endif %}</span>
        </div>
    </div>

    <div class="row g-0 m-3">
        {% for product in products %}
        <!-- Product Preview Card Element -->
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 justify-content-center d-flex p-1">
            <div class="card mt-2" style="width: 18rem;">
                <img src="{{ product.image.url }}" class="card-img-top preview-img" alt="product preview">
                <div class="card-body">
                    <a href="{% url 'product_view' product.id %}" class="text-decoration-none text-dark">
                        <h5 class="card-title">{{ product.name }}</h5>
                    </a>
                    <span class="d-block">£{{ product.price }}</span>
                    <span class="fst-italic fw-light">{{ product.category }}</span>
                    <hr>
                    <a href="{% url 'product_view' product.id %}"
                        class="btn bg-red btn-outline-dark w-100 border-0 text-white">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}