{% extends 'base.html' %}

{% block content %}
<div class="content-container mt-5">
    <div class="row g-0 justify-content-center">
        <!-- Image -->
        <div class="col-11 col-md-8 col-lg-4 d-flex justify-content-center m-2 me-md-5 border-gry">
            <img src="{{ product.image.url }}" alt="product image" class="img-fluid p-2 product-img">
        </div>

        <!-- Details -->
        <div class="col-11 col-md-10 col-lg-4 text-center mb-3">
            <h1>{{ product.name }}</h1>
            <span class=" fs-3 fst-italic">£{{ product.price }}</span>

            <!-- Add to/Remove from Wishlist -->
            {% if user.is_authenticated %}
            {% if on_wishlist %}
            <form action="{% url 'remove_from_wishlist' product.id %}" method="POST" class="text-end">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-dark">Remove from Wishlist</button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
            {% else %}
            <form action="{% url 'add_to_wishlist' product.id %}" method="POST" class="text-end">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-dark">Add to Wishlist</button>
            </form>
            {% endif %}

            {% else %}
            <div class="text-end mt-1">
                <span><a href="{% url 'account_login' %}">Sign in</a> to add to wishlist.</span>
            </div>
            {% endif %}

            <hr>
            <span class="d-block mt-3 text-start fw-bold">Description:</span>
            <p class="text-start">{{ product.content }}</p>
            <hr>

            <!-- User Input Component -->
            <div class="row g-0 justify-content-center">
                <div class="col-10 col-md">
                    <form action="{% url 'add_to_basket' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-10 col-md text-md-end">
                                <label class="col-form-label" for="qty_input_{{ product.id }}">Quantity:</label>
                            </div>
                            <div class="col-10 col-md">
                                <input name="quantity" type="number" class="form-control" value="1" min="1" max="99"
                                    id="qty_input_{{ product.id }}">
                            </div>
                            <div class="col-10 col-md mt-2 mt-md-0">
                                <input type="submit" class="btn bg-red btn-outline-dark border-0" value="Add to Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Messages -->
    {% if messages %}
    {% for message in messages %}
    <div class="row g-0 justify-content-center mt-2">
        <div class="col-10 col-md-6">
            <div class="alert alert-dismissible fade show alert-{{ message.tags }}">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <!-- Comments -->
    <div class="row g-0 justify-content-center mt-2">
        <div class="col-10 col-md-8 col-lg-6 text-md-center">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="d-inline me-3">Comments</h2>
                {% if user.is_authenticated %}
                <button class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#comment-modal"><i
                        class="fas fa-plus"></i></button>
                {% else %}
                <span>Please <a href="{% url 'account_login' %}">sign in</a> to comment.</span>
                {% endif %}
            </div>
            <hr>
        </div>
    </div>

    {% for comment in product.comments.all %}
    <div class="row g-0 justify-content-center">
        <div class="col-10 col-md-8 col-lg-7 bg-dark p-2 rounded text-white">
            <div class="row g-0">
                <div class="col-10">
                    <p class="text-break">{{ comment.content }}</p>
                </div>
            </div>

            <div class="row g-0">
                <div class="col-8">
                    <span class="fst-italic">by {{ comment.author }} - {{ comment.date }}</span>
                </div>

                <!-- Editing/Deleting Comments -->
                {% if user == comment.author %}
                <div class="col text-end">
                    <a href="{% url 'update_comment' product.id comment.id %}" class="me-1 text-white"><i
                            class="fas fa-edit"></i></a>
                    <i class="fas fa-trash" data-bs-toggle="modal"
                        data-bs-target="#comment-delete-{{ comment.id }}"></i>
                </div>

                <!-- Comment Delete Modal -->
                <div class="modal fade text-dark" id="comment-delete-{{ comment.id }}" tabindex="-1"
                    aria-labelledby="comment-delete-label-{{ comment.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="comment-delete-label-{{ comment.id }}">Delete comment?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this comment?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary border-0"
                                    data-bs-dismiss="modal">Close</button>
                                <form action="{% url 'delete_comment' comment.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit"
                                        class="btn bg-red btn-outline-dark border-0 text-white">Delete</button>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-10 col-md-8 col-lg-7">
            <hr>
        </div>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <!-- Comment Modal -->
    <div class="modal fade" id="comment-modal" tabindex="-1" aria-labelledby="comment-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="comment-modal-label">Add comment...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="form" action="{% url 'add_comment' product.id %}" method="POST">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary border-0" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn bg-red btn-outline-dark border-0 text-white">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}